.escudoTime {
  width:120px;
	height:120px;
	position:absolute;
}

.signup-background {
  background: url('../assets/images/background.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
