.imgUser{
    border-radius: 30px;
    border: 1px solid #fff;
}


.buttonEnviar {
    width: 100%;
    border-radius: 30px;
    font-size: 1.2em;
    border: 1px solid #fff;
    //background-color: #39acdc;
}

.textSuggestion {
    color:#fff;
    font-size: 1.5em;
    font-family:monospace;
}
