.my-teams-header{
    font-weight: bold;
    font-size: large;
}

.signup-background {
  background: url('../assets/images/background.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.titleNews{
  text-align: left;
  font-size: 18px;
  color : #003300 !important;
}

.buttonLoginFace{
    text-align: center;
    //padding: 15px 20px;
    font-size: 18px;
    margin-top:50%;
    //margin-bottom:50%;
}

.slides{
  height: 25%;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.imgSlide{
  margin-left: 50%;
  margin-right: 50%;
  padding-top: 20px;  
}

.titleNews{
  text-align: center;
  font-size: 18px;
  color : #003300 !important;
}

.fonteNews{
  text-align: center;
  font-size: 14px;
  color : #003300 !important;
}
