.my-teams-header{
    font-weight: bold;
    font-size: large;
}

.signup-background {
  background: url('../assets/images/background.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.title{
  text-align: center;
  font-size: 8px;
  color : #003300 !important;
}
