.my-teams-header{
    font-weight: bold;
    font-size: large;
}

.signup-background {
  background: url('../assets/images/background.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.title{
  text-align: center;
  font-size: 8px;
  color : #003300 !important;
}

.jogos {
  p {
    color : #003300 !important;
    font-size: 14px;
    text-align: center;
  }

  .shedule {
    padding-left: 15px;
  }


  .X {
    padding-top: 35px;
    font-size: 14px;    

  }

}
